<h1>I am bambuser</h1>

<div *ngFor="let video of videos">
  Broadcast by <span><b>{{video.author}}</b></span>
  <br />
  <h3>{{video.title}}</h3><br />
  <iframe #iFram
    id="my-broadcaster"
    [src]="'https://dist.bambuser.net/player/?resourceUri=' + cleanUrl(video.resourceUri) | safe"
    style="border: none"
    allowfullscreen
    broadcastState="live"
    allow="microphone; camera"
    showViewerCount="1"></iframe><br />

  <button (click)="startBroadcasting();">Start</button>

  Tags <span *ngFor="let tag of video.tags"
    class="w3-tag"> <b>[{{tag.text}}]</b></span>
  <hr />
</div>


<div id="player"
  style="width: 269px;height: auto;"></div>


<!-- <iframe
  src="https://dist.bambuser.net/broadcaster/?application_id=77nOU9QKnTNQ6ay8xMJSdA&ticket=domain%3Dlocalhost&da_signature_header=da_id%3Ddef8abad-db65-72a9-95b7-d3c38b98ad3c%26da_timestamp%3D1599448675%26da_signature_method%3DHMAC-SHA256%26da_ttl%3D0%26da_static%3D1%26da_signature%3D4c339c41d4a0cc00459f2f6849fc0e638cf2ad976420f4f378b997db0f8acfa2"
  style="border: none"
  allowfullscreen
  allow="microphone; camera"></iframe> -->

<iframe
  src="https://dist.bambuser.net/broadcaster/?application_id=Qgw8MvOveG6gl0TsZKAmtw&ticket=domain%3Dng-bambuser.firebaseapp.com&da_signature_header=da_id%3Db9926f54-95de-d7dd-5aa2-8f56d03d5753%26da_timestamp%3D1599730023%26da_signature_method%3DHMAC-SHA256%26da_ttl%3D0%26da_static%3D1%26da_signature%3D181f6c16c20ecd907fd94b9128c4a74ed3bbbabf2963f42b6a66b2f008a9dfb6"
  style="border: none"
  allowfullscreen
  allow="microphone; camera"></iframe>

<div>
  <button (click)="getBroadCasts()">Get Broadcasts</button>
</div>
